@font-face {
    font-family: 'Android';
    src: url('fonts/idroid.otf');
}
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #91C7B1;
}
h1 {
    margin: 0;
}
header {
    background-image: linear-gradient(to bottom, #54494B, hsl(349, 7%, 10%));
    font-family: 'Arial', sans-serif;
    color: white;
    text-align: center;
}
header > h1 {
    color: #E3D081;
    padding: 1em;
}   
header > p {
    color: #E3D081;
    margin: auto;
    text-align: center;
    width: 40%;
    padding-bottom: 1em;
}
nav {
    text-align: start;
    padding: .5em;
}
header > nav > a{
    text-decoration: none;  
    color: white;
    font-size: .9em;
    font-weight: bold;
    margin: 0 1em 0 1em;
}
header > nav > a:hover {
    background-color: #E3D081;
    color: #54494B;
    padding: .3em;
    border-radius: 2px;
}
main {
    background-color: #F1F7ED;
    width: 70%;
    margin: 0 auto;
    padding: 1em;
    box-shadow: 2px 2px 9px 4px rgb(0 0 0 / 28%);
}
section > h1 {
    font-family: 'Android', sans-serif;
    color: #54494B;
}
article > h2 {
    background-image: linear-gradient(to right, #91C7B1, white) ;
    color: #54494B;
    font-family: 'Android', sans-serif;
    font-size: 1.2em;
    padding-left: .5em;
}
p {
    text-align: justify;
}
picture > img {
    width: 100%;
}
article figure iframe {
    width: 100%;
}
a{
    text-decoration: none;
    color: #B33951;
    font-weight: bold;
}
section a::after{
    content: '🔗';
}
strong {
    color: #B33951;
}
aside {
    background-color: hsl(156, 33%, 82%);
    border-radius: 10px 10px 0 0;   
    box-shadow: 2px 2px 9px 4px rgb(0 0 0 / 28%);
}
aside h3 {
    background-color: hsl(156, 33%,40%);
    color: white;
    padding: .8em;
    border-radius: 10px 10px 0 0;
}
aside p {
    padding: .8em;
}
ul {
    display: inline-block;
}
ul li::marker {
    content: '✓ ';
}
footer {
    background-color:hsl(349, 7%, 10%);
    padding: .8em;
}
footer > p {
    margin: 0;
    font-size: .8em;
    text-align: center;
    color: rgba(255, 255, 255, 0.336);
}
#img-bugdroid {
    text-align: center;
    width: 50%;
}
